!!! 5
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Presentaciones con Javascript

    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='bower_components/nvd3/nv.d3.css')
    link(rel='stylesheet', type='text/css', href='styles/bespoke-spotlight.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')

  body

    article

      section.green
        h1 Cómo hacer presentaciones geniales con HTML, CSS y Javascript

      section.solido
        .tint
          h1 Jaime Andrés García
          h2 CEO - Ingenio Sólido
          a(href='http://www.ingeniosolido.com') http://www.ingeniosolido.com
          br
          a(href='http://twitter.com/JaimeAGarciaM') @JaimeAGarciaM

      section.magenta
        h1 Algo sobre mí ...

      section.lazy
        .tint
          h1 Soy flojo

      section.love
        .tint
          h1 Me gusta Programar

      section.hate
        .tint
          h1 Odio las aplicaciones de ofimática

      section.violet
        h1 Por mi trabajo ... debo realizar presentaciones frecuentemente

      section.how
        .tint
          h1 Qué puedo hacer?

      section.white
        h1 The Partners for Laziness
        .lazy-partners
          img(src="img/bespoke-logo.png")
          img(src="img/yeoman-logo.png")
          img(src="img/grunt-logo.png")
          br
          img(src="img/jade-logo.png")
          img(src="img/stylus-logo.png")

      section.violet
        h1 El día de hoy vamos crear esta misma presentación

      section.magenta
        h1 Se lo que están pensando

      section.green
        h2 Si creamos una presentación que crea la misma presentación que crea la misma presentación...

      section.loop
        .tint
          h1 Vamos a hacer un loop infinito

      section.approve
        .tint
          h1 Afortunadamente ... Sabemos como lidiar con loops infinitos


      section
        h2 Pre-requisitos y Presentación Base
        code.language-bash
          pre.
            sudo npm install -g yo
            sudo npm install -g yo generator-bespoke

            git clone ....

            cd medellinjs-presentaciones-con-javascript-lite
            yo bespoke
            sudo npm install

            grunt server

            cd src
            mkdir img

      section
        h2 Márgenes de la Presentación - Opcional
        code.language-css
          pre.
            slide_width = 100%
            slide_height = 100%

            .bespoke-slide
              top: 0
              margin-top: 0
              left: 0
              margin-left: 0

      section
        h2 Mi primera diapositiva
        h3 index.jade
        code.language-markup
          pre.
            section.green
            h1 Cómo hacer presentaciones geniales con HTML, CSS y Javascript
        br
        h3 main.styl
        code.language-css
          pre.
            section.green
              background-color: #52ED8D

      section
        h2 Creando los otros estilos base
        code.language-css
          pre.
            section.violet
              background-color: #7914CC
              color: white

            section.magenta
              background-color: #DD40FF

            section.white
              background-color: white

      section
        h2 Diapositiva con fondo de imagen, enlace y un cuadro de texto - Jade
        h3 index.jade
        code.language-markup
          pre.
            section.solido
              .tint
                h1 Jaime Andrés García
                h2 CEO - Ingenio Sólido
                a(href='http://www.ingeniosolido.com') http://www.ingeniosolido.com
                a(href='http://twitter.com/JaimeAGarciaM') @JaimeAGarciaM

      section
        h2 Diapositiva con fondo de imagen, enlace y un cuadro de texto - Stylus
        h3 main.styl
        code.language-css
          pre.
            section.solido
              background-image url(../img/fondo-isolido.png);
              background-size cover
              a
                font-size: 40px

            .tint
              background: rgba(0,0,0,0.7)
              padding: 30px
              color: white

      section
        h2 Diapositiva con fondo gif
        h3 index.jade
        code.language-markup
          pre.
            section.lazy
              .tint
                h1 Soy flojo
        br
        h3 main.styl
        code.language-css
          pre.
            section.lazy
              background-image url(../img/lazy.gif);
              background-size cover

      section
        h2 Creando las otras diapositivas con fondo gif - Jade
        h3 index.jade
        code.language-markup
          pre.
            section.love
              .tint
                h1 Me gusta programar
            section.hate
              .tint
                h1 Odio las aplicaciones de ofimática
            section.violet
              h1 Por mi trabajo ... debo realizar presentaciones frecuentamente
            section.how
              .tint
                h1 Qué puedo hacer?

      section
        h2 Creando las otras diapositivas con fondo gif - Stylus
        h3 main.styl
        code.language-css
          pre.
            section.hate
              background-image url(../img/hate.gif);
              background-size cover
            section.love
              background-image url(../img/love-programming.gif);
              background-size cover
            section.how
              background-image url(../img/how.gif);
              background-size cover

      section
        h2 Diapositiva con imágenes
        code.language-markup
          pre.
            section.white
              h1 The Partners for Laziness
              .lazy-partners
                img(src="img/bespoke-logo.png")
                img(src="img/yeoman-logo.png")
                img(src="img/grunt-logo.png")
                br
                img(src="img/jade-logo.png")
                img(src="img/stylus-logo.png")

      section
        h2 Diapositiva con código
        code.language-markup
          pre.
            section
              h2 Pre-requisitos y Presentación Base
              code.language-bash
                pre.
                  sudo npm install -g yo
                  sudo npm install -g yo generator-bespoke
                  git clone ....
                  cd medellinjs-presentaciones-con-javascript
                  yo bespoke
                  sudo npm install
                  grunt server
                  cd src
                  mkdir img

      section
        h2 Otra diapositiva con código
        code.language-markup
          pre.
            section
              h2 Márgenes de la Presentación - Opcional
              code.language-css
                pre.
                  slide_width = 100%
                  slide_height = 100%
                  .bespoke-slide
                    top: 0
                    margin-top: 0
                    left: 0
                    margin-left: 0

      section.white
        h2 Agregando diapositiva con gráfica interactiva
        div#chart
          svg(style="height:400px;width:700px")


      section
        h2 Instalando y Agregando las librerías de D3
        code.language-bash
          pre.
            bower install nvd3
        br
        h3 index.jade
        code.language-markup
          pre.
            link(rel='stylesheet', type='text/css', href='bower_components/nvd3/nv.d3.css')

            script(src='bower_components/d3/d3.min.js')
            script(src='bower_components/nvd3/nv.d3.min.js')

      section
        h2 Agregando gráfica
        h3 index.jade
        code.language-markup
          pre.
            section.white
              h2 Agregando diapositiva con gráfica interactiva
              div#chart
                svg(style="height:400px;width:700px")

            script(src='scripts/linechart.js')


      section.surprised
        .tint
          h1 Así de fácil

      section.skeptical
        .tint
          h2 Sólo falta que digas que también le puedes agregar campo de búsqueda a la presentación

      section.thatsright
        .tint
          h1 Así es

      section.violet
        h1 Gracias a los plugins de bespoke

      section
        h2 Agregando bespoke-spotlight - Jade
        h3 index.jade
        code.language-markup
          pre.
            link(rel='stylesheet', type='text/css', href='styles/bespoke-spotlight.css')

            script(src='scripts/bespoke-spotlight.min.js')

      section
        h2 Agregando bespoke-spotlight - Javascript
        h3 main.js
        h4 Simplemente se agrega spotlight: true
        code.language-javascript
          pre.
            bespoke.horizontal.from('article', {
                bullets: 'li, .bullet',
                scale: true,
                hash: true,
                progress: true,
                state: true,
                spotlight: true
            });

      section
        h2 Ahora publiquemos nuestra presentación en Github Pages
        h3 Primero hacemos add, commit y push a nuestro repositorio y luego simplemente
        code.language-bash
          pre.
            grunt deploy

      section
        h1 Quieren saber más?
        h2
          a(href='http://markdalgleish.com/projects/bespoke.js/') Bespoke JS
        h2
          a(href='http://lab.hakim.se/reveal-js')  Reval JS
        h2
          a(href='http://bartaz.github.io/impress.js')  Impress JS

      section.thankyou
        .tint
          h1 Muchas gracias



    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='bower_components/d3/d3.min.js')
    script(src='bower_components/nvd3/nv.d3.min.js')
    script(src='scripts/linechart.js')
    script(src='scripts/bespoke-spotlight.min.js')
    script(src='scripts/main.js')
