!!! 5
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Presentaciones con Javascript

    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='bower_components/nvd3/nv.d3.css')
    link(rel='stylesheet', type='text/css', href='styles/bespoke-spotlight.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')

  body

    article

      section.green
        h1 Cómo hacer presentaciones geniales con HTML, CSS y Javascript

      section.solido
        .tint
          h1 Jaime Andrés García
          h2 CEO - Ingenio Sólido
          a(href='http://www.ingeniosolido.com') http://www.ingeniosolido.com
          br
          a(href='http://twitter.com/JaimeAGarciaM') @JaimeAGarciaM

      section.magenta
        h1 Algo sobre mí ...

      section.lazy
        .tint
          h1 Soy flojo

      section.love
        .tint
          h1 Me gusta programar

      section.hate
        .tint
          h1 Odio las aplicaciones de ofimática

      section.violet
        h1 Por mi trabajo ... debo realizar presentaciones frecuentamente

      section.how
        .tint
          h1 Qué puedo hacer?

      section.white
        h1 The Partners for Laziness
        .lazy-partners
          img(src="img/bespoke-logo.png")
          img(src="img/yeoman-logo.png")
          img(src="img/grunt-logo.png")
          br
          img(src="img/jade-logo.png")
          img(src="img/stylus-logo.png")


      section
        h2 Pre-requisitos y Presentación Base
        code.language-bash
          pre.
            sudo npm install -g yo
            sudo npm install -g yo generator-bespoke

            git clone ....

            cd medellinjs-presentaciones-con-javascript
            yo bespoke
            sudo npm install

            grunt server

            cd src
            mkdir img

      section
        h2 Márgenes de la Presentación - Opcional
        code.language-css
          pre.
            slide_width = 100%
            slide_height = 100%

            .bespoke-slide
              top: 0
              margin-top: 0
              left: 0
              margin-left: 0

      section
        h2 Mi primera diapositiva
        h3 index.jade
        code.language-markup
          pre.
            section.green
            h1 Cómo hacer presentaciones geniales con HTML, CSS y Javascript
        br
        h3 main.styl
        code.language-css
          pre.
            section.green
              background-color: #52ED8D

      section
        h2 Creando los otros estilos base
        code.language-css
          pre.
            section.violet
              background-color: #7914CC
              color: white

            section.magenta
              background-color: #DD40FF

            section.white
              background-color: white

      section
        h2 Diapositiva con fondo de imagen, enlace y un cuadro de texto
        h3 index.jade
        code.language-markup
          pre.
            section.solido
              .tint
                h1 Jaime Andrés García
                h2 CEO - Ingenio Sólido
                a(href='http://www.ingeniosolido.com') http://www.ingeniosolido.com
                a(href='http://twitter.com/JaimeAGarciaM') @JaimeAGarciaM
        br
        h3 main.styl
        code.language-css
          pre.
            section.solido
              background-image url(../img/fondo-isolido.png);
              background-size cover
              a
                font-size: 40px

            .tint
              background: rgba(0,0,0,0.7)
              padding: 30px
              color: white

      section
        h2 Diapositiva con fondo gif
        h3 index.jade
        code.language-markup
          pre.
            section.lazy
              .tint
                h1 Soy flojo
        br
        h3 main.styl
        code.language-css
          pre.
            section.lazy
              background-image url(../img/lazy.gif);
              background-size cover

      section
        h2 Creando las otras diapositivas con fondo gif - Jade
        h3 index.jade
        code.language-markup
          pre.
            section.love
              .tint
                h1 Me gusta programar
            section.hate
              .tint
                h1 Odio las aplicaciones de ofimática
            section.violet
              h1 Por mi trabajo ... debo realizar presentaciones frecuentamente
            section.how
              .tint
                h1 Qué puedo hacer?

      section
        h2 Creando las otras diapositivas con fondo gif - Stylus
        h3 main.styl
        code.language-css
          pre.
            section.hate
              background-image url(../img/hate.gif);
              background-size cover
            section.love
              background-image url(../img/love-programming.gif);
              background-size cover
            section.how
              background-image url(../img/how.gif);
              background-size cover

      section
        h2 Diapositiva con imágenes
        code.language-markup
          pre.
            section.white
              h1 The Partners for Laziness
              .lazy-partners
                img(src="img/bespoke-logo.png")
                img(src="img/yeoman-logo.png")
                img(src="img/grunt-logo.png")
                br
                img(src="img/jade-logo.png")
                img(src="img/stylus-logo.png")

      section
        h2 Diapositiva con código
        code.language-markup
          pre.
            section
              h2 Pre-requisitos y Presentación Base
              code.language-bash
                pre.
                  sudo npm install -g yo
                  sudo npm install -g yo generator-bespoke
                  git clone ....
                  cd medellinjs-presentaciones-con-javascript
                  yo bespoke
                  sudo npm install
                  grunt server
                  cd src
                  mkdir img

      section
        h2 Otra diapositiva con código
        code.language-markup
          pre.
            section
              h2 Márgenes de la Presentación - Opcional
              code.language-css
                pre.
                  slide_width = 100%
                  slide_height = 100%
                  .bespoke-slide
                    top: 0
                    margin-top: 0
                    left: 0
                    margin-left: 0

      section.white
        h2 Agregando diapositiva con gráfica interactiva
        div#chart
          svg(style="height:500px;width:800px")


      section.green
        h2 Agregando opción de búsqueda a las diapositivas

    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='bower_components/d3/d3.min.js')
    script(src='bower_components/nvd3/nv.d3.min.js')
    script(src='scripts/linechart.js')
    script(src='scripts/bespoke-spotlight.min.js')

    script(src='scripts/main.js')
